################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/L4S5RSA/.vs/L4S5RSA/v15
