################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/L4S5RSA/.vs/L4S5RSA/v15
/L4S5RSA/L4S5RSA/bin/Debug
/L4S5RSA/L4S5RSA/obj/Debug
/L4S5RSA/L4S5RSA/Properties
/L5S7DSA/.vs/L5S7DSA/v15
/L5S7DSA/L5S7DSA/bin/Debug
/L5S7DSA/L5S7DSA/obj/Debug
/L5S7DSA/L5S7DSA/Properties
